<% include partials/header.ejs %>

<div class="container">
  <h1>Name:</h1>
    <h4><%= stuff.name %></h4>
  <h1>Height:</h1>
    <h4><%= stuff.height %>cm</h4>
  <h1>Hair color:</h1>
    <h4><%= stuff.hair_color %></h4>
  <br/>
  <p><a href="/">Search again?</a></p>
</div>
<br/>
<br/>
<br/>

<% include partials/footer.ejs %>